@media screen and (max-width: 399px) and (min-width: 300px){
    body,
    main,
    .projects-container {
        display: inline-block;
    }

    main,
    footer {
        margin: auto;
        width: 90%
    }
    
    .projects {
        width: 104%;
        margin-left: 15px;
    }

    [class*='-project'] {
        margin-top: 0;
        margin-bottom: 10px;
    }

    footer {
        width: 100vw;
    }

    .footer span {
        margin: 32%;
    } 

    .footer {
        border-radius: 10px;
    }
}