@media screen and (max-width: 599px) and (min-width: 500px) {
    body,
    main,
    .projects-container {
        display: inline-block;
        word-break: break-all;
    }

    main,
    footer {
        margin: auto;
        width: 90%
    }

    .projects {
        width: 106%;
        margin-left: 15px;
    }

    aside {
        width: 100vw;
    }

    [class*='-project'] {
        margin-top: 0;
        margin-bottom: 10px;
    }

    footer {
        width: 94%;
    }

    .footer span {
        margin: 32%;
    } 

    .footer {
        border-radius: 10px;
    }
}