@media screen and (max-width: 799px) and (min-width: 700px) {
    /* body,
    main,
    .projects-container {
        display: inline-block;
        word-break: break-all;
    }

    aside,
    .projects {
        width: 85%;
    }

    .box-links {
        width: 93%;
        margin-left: 15px;
    }

    .box-links > .heading {
        font-size: 17px;
    }

    [class*='-project'] {
        height: fit-content;
        padding: 10px;
        margin-bottom: 10px;
    }

    .section-header,
    .section-footer {
        margin-left: 15px;
    }
    .section-main {
        margin: 4px 0 4px 15px;
    }

    [class*='-project'],
    footer {
        margin-left: 15px;
    }

    footer {
        width: 83%;
    }

    .footer span {
        margin: 41%;
    } */

    /* New test */

    body,
    main,
    .projects-container {
        display: inline-block;
        word-break: break-all;
    }

    main,
    footer {
        margin: auto;
        width: 90%
    }

    .projects {
        width: 107%;
        margin-left: 15px;
    }

    aside {
        width: 100vw;
    }

    [class*='-project'] {
        margin-top: 0;
        margin-bottom: 10px;
    }

    footer {
        width: 94vw;
    }

    .footer span {
        margin: 32%;
    } 

    .footer {
        border-radius: 10px;
    }
}